@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand: #ff4d29;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Barlow", sans-serif;
  color: var(--body);
  line-height: 1.7;
}
.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}
a {
  color: var(--dark) !important;
  transition: all 0.4s ease !important;
  font-weight: 500 !important;
  text-decoration: none;
}

/* a:hover {
  color: var(--brand) !important;
} */

.top-nav {
  background-color: var(--brand);
  padding-bottom: 4px;
}
.top-nav p {
  text-align: center;
  color: white;
}
.top-nav span {
  margin: 0 0 0 12px;
}
.top-nav i,
.top-nav span{
    vertical-align: middle;
}
.social-icon a i{
    width: 35px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 100%;
    font-size: 18px;
}
.social-icon a i:hover{
    background-color: white;
    color: var(--brand);
}
/* -------NAVBAR----- */
.main-navbar .contact-btn{
  background-color: var(--brand);
  color: white;
}
.main-navbar .contact-btn:hover{
  background-color: var(--brand);
  border: var(--brand);
  color: white;
}

.main-navbar .navbar-nav .nav-link.active, 
.main-navbar .navbar-nav .nav-link:hover {
 
  color: var(--brand) !important;
}
.main-navbar a.navbar-brand {
  font-size: 30px;
}
.main-navbar .dot{
  color: var(--brand);
}
.main-navbar{
  box-shadow: var(--shadow);
}
.main-navbar .btn{
  font-weight: 500;
}